html {
    box-sizing: border-box;
    
    @include hd {
        font-size: 16px;
    }
    @include laptop {
        font-size: 15px;
    }
    @include tablet {
        font-size: 14px;
    }
    @include phone {
        font-size: 13px;
    }
}

*, *::before, *::after {
    box-sizing: inherit;
}

body,
html {
    width: 100%;
    height: 100%;
    
}

body {
    position: relative;
    margin: 0;
    background: #fff;
    @include monts;
    line-height: 1.42;
    -webkit-font-smoothing: antialiased;
}

.wrapper {
    min-height: 100%;
    position: relative;
    overflow: hidden;

    &::after {
        content: "";
        display: block;
        height: $footerHeight;

        @include phone {
            height: $footerHeight + 80px;
        }
    }
}

.maincontent {
    position: relative;
}

.container {
    padding: 0 15px;
    max-width: 1200px;
    margin: 0 auto; 

    @include hd {
        max-width: 960px;
    }

    @include laptop {
        max-width: 720px;
    }

    @include tablet {
        max-width: 540px;
    }

    @include phone {
        width: auto;
    }
}

.footer {
    width: 100%;
    height: $footerHeight;
    position: relative;
    margin-top: -$footerHeight;
    
    @include phone {
        height: $footerHeight + 80px;
        margin-top: -($footerHeight + 80px);
    }
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: 100%;
    margin-top: 0;
    margin-bottom: 0;
    font-weight: normal;
}

img {
    max-width: 100%;
    height: auto;
}

ul {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}

p {
    margin: 0;
}