/************************* Colors ***************************/
$white: #fff;
$black: #000;
$yellow: #ffc539;
$blue: #628395;
$blueLight: #a3d9ff;
$stepsIcons: #87bcde;
$gray: #454545;



/************************* Dimensions ***************************/
$footerHeight: 90px;