footer.footer
  .container.footer__container
    .copyright
      p.copyright__text 2018 &copy; Все права защищены.
    
    ul.socials
        li.socials__item
          a(class="socials__link" href="#", target="_blank")
            .socials__icon
