header.header
  .container.header__container
    .header__logo
      a(class="logo" href="#top") De
    .header__menu
      nav.main-nav
        ul.main-nav__list
          li.main-nav__item
            a(href="#").main-nav__link Услуги
          li.main-nav__item
            a(href="#").main-nav__link О компании
          li.main-nav__item
            a(href="#").main-nav__link Погружение
          li.main-nav__item
            a(href="#").main-nav__link Галерея
          li.main-nav__item
            a(href="#").main-nav__link Контакты

    .header__contacts
      .phones
        a(class="phones__toggle" href="tel:+38(067)444-04-04" target="_blank")
          svg.phones__arrow
            use(xlink:href=`assets/img/sprite.svg#download`)
          | +38(067)444-04-04
        ul.phones__dropdown
          li.row
          li.phones__item
            a(class="phones__link" href="tel:+38(067)444-04-04" target="_blank")
              | +38(067)444-04-04
          li.phones__item
            a(class="phones__link" href="tel:+38(067)444-04-04" target="_blank")
              | +38(067)444-04-04
