extends ../template

block variables
  - var title = "Main page"

block content
  section.top-section
    .container.top-section__container
      .top-section__ofer.ofer
        .ofer__title Deep event
        .ofer__slogan Погружение в мир эмоций
        h1.ofer__desc Организация уникальных мероприятий для особенных людей
        button(class="button ofer__button" type="button") Отправить запрос

  section.services-section.section
    svg.section__wave
      use(xlink:href=`assets/img/sprite.svg#wave`)
    .container.services-section__container
      .services-section__title
        h2.title Услуги
      ul.services
        li.services__item
          a(href="javascript:void(0)" class="services__link")
            .services__icon.rect
              svg.rect__svg
                use(xlink:href=`assets/img/sprite.svg#rect`)
              .rect__icon
                svg.rect__icon-svg
                  use(xlink:href=`assets/img/sprite.svg#039-case`)
            span.services__desc Корпоративы
        li.services__item
          a(href="javascript:void(0)" class="services__link")
            .services__icon.rect
              svg.rect__svg
                use(xlink:href=`assets/img/sprite.svg#rect`)
              .rect__icon
                svg.rect__icon-svg
                  use(xlink:href=`assets/img/sprite.svg#021-calendar`)
            span.services__desc Фестивали
        li.services__item
          a(href="javascript:void(0)" class="services__link")
            .services__icon.rect
              svg.rect__svg
                use(xlink:href=`assets/img/sprite.svg#rect`)
              .rect__icon
                svg.rect__icon-svg
                  use(xlink:href=`assets/img/sprite.svg#035-lecture`)
            span.services__desc Конференции
        li.services__item
          a(href="javascript:void(0)" class="services__link")
            .services__icon.rect
              svg.rect__svg
                use(xlink:href=`assets/img/sprite.svg#rect`)
              .rect__icon
                svg.rect__icon-svg
                  use(xlink:href=`assets/img/sprite.svg#029-confetti-1`)
            span.services__desc Дни рождения
        li.services__item
          a(href="javascript:void(0)" class="services__link")
            .services__icon.rect
              svg.rect__svg
                use(xlink:href=`assets/img/sprite.svg#rect`)
              .rect__icon
                svg.rect__icon-svg
                  use(xlink:href=`assets/img/sprite.svg#022-cake`)
            span.services__desc Свадебные мероприятия
        li.services__item
          a(href="javascript:void(0)" class="services__link")
            .services__icon.rect
              svg.rect__svg
                use(xlink:href=`assets/img/sprite.svg#rect`)
              .rect__icon
                svg.rect__icon-svg
                  use(xlink:href=`assets/img/sprite.svg#047-scissors`)
            span.services__desc Открытия

  section.about-section
    .about-section__left
      button(class="button about-section__button" type="button") Подробнее о нас
      
    .about-section__right
      h2.title.title--color-blue.title--align-left О компании
      .about-section__text
        p.
          Давно выяснено, что при оценке дизайна и композиции читаемый текст мешает сосредоточиться. Lorem Ipsum используют потому, что тот обеспечивает более или менее стандартное заполнение шаблона, а также реальное распределение букв и пробелов в абзацах, которое не получается при простой дубликации "Здесь ваш текст.. Здесь ваш текст.. Здесь ваш текст.." Многие программы электронной вёрстки и редакторы HTML используют Lorem Ipsum в качестве текста по умолчанию, так что поиск по ключевым словам "lorem ipsum" сразу показывает, как много веб-страниц всё ещё дожидаются своего настоящего рождения.

  section.steps-section.section
    .container
      h2.title Погружение в событие
      ul.steps
        li.steps__bg
          svg.steps__bg-svg
            use(xlink:href=`assets/img/sprite.svg#steps-dashes`)
        li.steps__item
          svg.steps__icon
            use(xlink:href=`assets/img/sprite.svg#list1`)
          .steps__text
            p.
              Оформление заявки и заполнение брифа
        li.steps__item
          svg.steps__icon
            use(xlink:href=`assets/img/sprite.svg#014-brain`)
          .steps__text
            p.
              Разработка концепции и подготовка предложения
        li.steps__item
          svg.steps__icon
            use(xlink:href=`assets/img/sprite.svg#011-goal-2`)
          .steps__text
            p.
              Согласование договора и реализация проекта

  section.gallery-section.section
    .container
      h2.title.title--color-blue Галерея
      ul.gallery
        li.gallery__item
          img(src="assets/img/gallery1.jpg", alt="image")
          .gallery__desc
            .gallery__text
              p Открытие торгового центра 
        li.gallery__item
          img(src="assets/img/gallery2.jpg", alt="image")
          .gallery__desc
            .gallery__text
              p Открытие торгового центра
              p Открытие торгового центра
              p Открытие торгового центра
        li.gallery__item
          img(src="assets/img/gallery3.jpg", alt="image")
          .gallery__desc
            .gallery__text
              p Открытие торгового центра
        li.gallery__item
          img(src="assets/img/gallery4.jpg", alt="image")
          .gallery__desc
            .gallery__text
              p Открытие торгового центра
        li.gallery__item
          img(src="assets/img/gallery5.jpg", alt="image")
          .gallery__desc
            .gallery__text
              p Открытие торгового центра
        li.gallery__item
          img(src="assets/img/gallery6.jpg", alt="image")
          .gallery__desc
            .gallery__text
              p Открытие торгового центра

  section.contacts-section.section
    .container
      h2.title Контакты
      .contacts-form.contacts-section__form
        form(class="contacts-form__form" action="#" method="post")
          .contacts-form__items
            .contacts-form__item
              input(class="contacts-form__input" id="name" name="name" type="text" placeholder="Ваше имя")
              label(class="contacts-form__label" for="name") Ваше имя
            .contacts-form__item
              input(class="contacts-form__input" id="email" name="email" type="text" placeholder="Email")
              label(class="contacts-form__label" for="name") Email
            .contacts-form__item
              input(class="contacts-form__input" id="phone" name="phone" type="text" placeholder="Телефон")
              label(class="contacts-form__label" for="phone") Телефон
          .contacts-form__button
            button(class="button" type="button") Отправить запрос

      .contacts-section__socials
        ul.socials-big
          li.socials-big__item
            a(class="socials-big__link" href="#", target="_blank")
              svg.socials-big__icon
                use(xlink:href=`assets/img/sprite.svg#006-phone-call-1`)
          li.socials-big__item
            a(class="socials-big__link" href="#", target="_blank")
              svg.socials-big__icon
                use(xlink:href=`assets/img/sprite.svg#003-telegram-logo-1`)
          li.socials-big__item
            a(class="socials-big__link" href="#", target="_blank")
              svg.socials-big__icon
                use(xlink:href=`assets/img/sprite.svg#002-viber`)