.button {
    background: none;
    outline: none;
    text-decoration: none;
    box-shadow: none;
    border: rem(3px) solid $yellow;
    border-radius: rem(10px);
    padding: rem(19px) rem(43px);
    @include monts(bold);
    font-size: rem(20px);
    color: $white;
    transition: .3s;
    cursor: pointer;

    &:hover {
        background: rgba($white, 0.5);
        border-color: rgba($white, 0.1);
        color: $blue;
    }
}