.contacts-section {
    background: $blue;
}

.contacts-section__form {
    max-width: 870px;
    margin: 0 auto;
    margin-bottom: 50px;
}

.contacts-section__socials {
    max-width: 380px;
    margin: 0 auto;
}