.footer {
    background: $blueDark;
    padding-top: 5px;
    padding-bottom: 5px;
}

.footer__container {
    display: flex;
    height: 100%;
    width: 100%;
    justify-content: space-between;
    align-items: center;

    @include phone {
        flex-direction: column;
        justify-content: space-around;
    }
}