.header {
    position: fixed;
    z-index: 500;
    width: 100%;
    background-color:  rgba($black, 0.3);
}

.header__container {
    display: flex;
    justify-content: space-between;
    min-height: 70px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.header__logo {
    display: flex;
    flex-grow: 1;
    max-width: 200px;
    align-items: center;
}

.header__menu {
    display: flex;
    justify-content: center;
    align-items: center;
}

.header__contacts {
    display: flex;
    flex-grow: 1;
    max-width: 200px;
    align-items: center;
    justify-content: flex-end;
}