.ofer {
    text-align: center;
}

.ofer__title {
    @include monts(black);
    font-size: 26px;
    text-transform: uppercase;
    color: $yellow;
    margin-bottom: 5px;
}

.ofer__slogan {
    @include monts(black);
    font-size: 47px;
    text-transform: uppercase;
    color: $white;
    margin-bottom: 12px;
}


.ofer__desc {
    max-width: 400px;
    margin: 0 auto 25px;
    @include monts(medium);
    font-size: 18px;
    line-height: 1.3;
    color: $white;
}