.phones {
    position: relative;
    padding-left: 25px;
    -webkit-tap-highlight-color: transparent;

    &:hover {

        .phones__arrow {
            transform: rotate(180deg);
        }

        .phones__dropdown {
            @include centered(x);
            opacity: 1;
        }
    }

    @include tablet {
        padding: 0;
        cursor: pointer;
    }
}

.phones__arrow {
    position: absolute;
    width: 16px;
    height: 16px;
    left: 0;
    top: 50%;
    margin-top: -8px;
    fill: $yellow;
    transition: .3s;
    cursor: pointer;
    
    &:hover {
        transform: rotate(180deg);
    }
    
    @include tablet {
        display: none;
    }
}

.phones__content {
    position: relative;
}

.phones__icon {
    display: none;
    width: 30px;
    height: 30px;
    fill: $yellow;

    @include tablet {
        display: block;
    }
}

.phones__toggle {
    display: block;
    padding: 10px 0;
    text-decoration: none;
    @include monts(medium);
    font-size: 16px;
    color: $white;

    @include laptop {
        font-size: 15px;
    }

    @include tablet {
        display: none;
    }
}


.phones__dropdown {
    position: absolute;
    top: 53px;
    padding: 15px;
    border-radius: 10px;
    background: rgba($header, .55);
    left: -99999px;
    border: 1px solid $yellow;
    opacity: 0;
    transition: opacity .3s;
    
    &::before {
        content: "";
        position: absolute;
        top: -6px;
        left: -10px;
        right: 0;
        height: 10px;
    }

    @include tablet {
        top: 49px;
    }
}

.phones__drop-arrow {
    position: absolute;
	left: 50%;
    top: -11px;
	margin-left: -5px;
    border: 10px solid transparent;
	border-right-width: 6px;
	border-left-width: 6px;
	border-top: 0px;
    border-bottom-color: rgba($yellow, 1);
    
    &:after {
        content: "";
		position: absolute;
		border: 10px solid transparent;
		border-right-width: 6px;
		border-left-width: 6px;
		border-top: 0;
		border-bottom-color: rgba($header, 1);
		top: 2px;
        margin-left: -6px;
    }
}

.phones__item {
    margin-bottom: 3px;
    text-align: center;

    &:nth-child(2) {
        display: none;

        @include tablet {
            display: block;
        }
    }

    &:last-child {
        margin-bottom: 0;
    }
}

.phones__link {
    display: block;
    text-decoration: none;
    @include monts(medium);
    font-size: 16px;
    color: $white;
    white-space: nowrap;
    padding: 4px 0;

    @include laptop {
        font-size: 15px;
    }
}