.phones__toggle {
    display: block;
    position: relative;
    padding: 10px 0;
    padding-left: 25px;
    text-decoration: none;
    @include monts;
    font-size: 16px;
    color: $white;

    &:hover .phones__arrow {
        transform: rotate(180deg);
    }
}

.phones__arrow {
    position: absolute;
    width: 16px;
    height: 16px;
    left: 0;
    top: 50%;
    margin-top: -8px;
    fill: $yellow;
    transition: .3s;
}

.phones__dropdown {
    display: none;
}