.section {
    padding: rem(90px) 0;
}

.section__wave {
    width: 100%;
    position: absolute;
    bottom: 100%;
    @include centered(x);
    fill: $blue;

    @include hd {
        height: 110px;
    }

    @include laptop {
        height: 90px;
    }

    @include tablet {
        height: 70px;
    }
    @include phone {
        height: 40px;
    }
}