.services-section {
    position: relative;
    background: $blue;

    &::before {
        content: "";
        position: absolute;
        z-index: 0;
        height: 4px;
        left: 0;
        right: 0;
        top: -2px;
        background: $blue;
    }
}

.services-section__title {
    margin-bottom: 10px;
}