.services {
    margin: 0 -15px;
    display: flex;
    flex-wrap: wrap;

    @include phone {
        display: block;
        margin: 0;
    }
}

.services__item {
    width: calc(33.33333333% - 30px );
    margin: 0 15px 80px;
    text-align: center;
    -webkit-tap-highlight-color: transparent;

    @include tablet {
    width: calc(50% - 30px );
    }

    @include phone {
    width: 100%;
    margin: 0 auto 20px;
    }
}

.services__link {
    text-decoration: none;
    display: block;

   &:hover .rect__svg {
       stroke-dasharray: 397;
       stroke-dashoffset: 0;
       stroke-width: 2px;
   }
}

.services__icon {
    max-width: 145px;
    margin: 0 auto;
    margin-bottom: 16px;

    @include phone {
        // max-width: 200px;
        margin-bottom: 10px;
    }
}

.services__desc {
    @include monts(bold);
    font-size: 18px;
    color: $white;
}