.title {
    margin-bottom: rem(70px);
    @include monts(black);
    font-size: rem(36px);
    color: $white;
    text-align: center;

    &--align {

        &-left {
            text-align: left;
        }
    }

    &--color {

        &-blue {
            color: $blue;
        }
    }
}