.top-section {
    background: $blue url(../img/bg_top.jpg) left bottom no-repeat;
    background-size: cover;

    @include hd {
        background-size:  auto 100%;
    }
}

.top-section__container {
    display: flex;
    min-height: rem(886px);
    padding: 100px 15px;
    justify-content: center;
}

.top-section__ofer {
    align-self: center;
    margin-top: -70px;
}
